@use 'Styles/config.scss';

$colors: (
    "neutral": (100: #fff,
        200: #d8d8d8,
        300: #8a8f98,
        400: #686a6e,
        500: #3e3f41,
        600: #202020,
        700: #181818,
        800: #000000),
    "green": (100: #23cfa4,
    ),
    "purple": (100: #5e5df0,
    ),
    "pink": (100: #ca5dee,
    ),
    "blue": (100: #4BE1EC,
    ),
    "red": (100: #f25c5c,
        200: #ce3a3a),
    "orange": (400: #fa7b1a)
);

@function color-name($color, $shade) {
    @return #{$color}-#{$shade};
}

@each $color,
$shades in $colors {

    @each $shade,
    $value in $shades {
        $name: color-name($color, $shade);
        @include config.define-custom-property($name, $value);

        .bg-#{$name} {
            background-color: var(--#{$name}) !important;
        }

        .txt-#{$name} {
            color: var(--#{$name}) !important;
        }

    }
}