@use 'Styles/config.scss';

$gradients: (
    "linear": ("orange-to-purple": linear-gradient(135deg, #FFCC33 0%, #E233FF 100%),
        "purple-to-blue": linear-gradient(135deg, #CB5EEE 0%, #4BE1EC 100%), ),
);

@function gradient-name($type, $name) {
    @return #{$type}-gradient-#{$name};
}

@each $type,
$values in $gradients {

    @each $name,
    $gradient in $values {
        $prop-name: gradient-name($type, $name);
        @include config.define-custom-property($prop-name, $gradient);

        .bg-#{$prop-name} {
            background-image: var(--#{$prop-name}) !important;
        }
    }
}