@use 'Styles/config.scss';
@use 'Styles/colors.scss';
@use 'Styles/fontSizes.scss';
@use 'Styles/gradients.scss';
@use 'Styles/borderRadius.scss';


// @debug $custom-properties;
:root {

    @each $property,
    $value in config.$custom-properties {
        --#{$property}: #{$value};
    }

    --font-family: 'Inter',
    'Helvetica',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'NotoColorEmoji',
    'Noto Color Emoji',
    'Segoe UI Symbol',
    'Android Emoji, EmojiSymbols',
    '-apple-system',
    'BlinkMacSystemFont',
    'Segoe UI',
    'Roboto',
    'Helvetica Neue',
    'Noto Sans',
    sans-serif;
}


/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Main styles */
body {
    background-color: var(--neutral-700);
    color: var(--neutral-100);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-xs);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 10px 0;
}

a {
    color: var(--neutral-100);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* Gloabl Misc Classes */
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.font-family {
    font-family: var(--font-family);
}


.txt-gradient {
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bold {
    font-weight: 700 !important;
}


.grid {
    display: grid;
}


.absolute-fill {
    position: absolute;
    inset: 0;
}

.pos-abs {
    position: absolute;
}

.pos-rel {
    position: relative;
}

.isolate {
    isolation: isolate;
}

.ta-center {
    text-align: center;
}