@use 'Styles/main.scss';


input {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
}

.input-group {
    position: relative;
}

.input-group::after {
    content: 'oguhbe';
    position: absolute;
    background-color: var(--bg-neutral-300);
    inset: 0;
    width: 100%;
}